@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited {
  color: inherit;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Heebo";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 878px;
  padding: 0 11px;
  margin: 0 auto;
}

.year {
  display: inline-block;
  padding: 4px 10px 3px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  background: #142850;
}
@media (max-width: 660px) {
  .year {
    font-size: 16px;
  }
}

.underline:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin: 25px 0 0 0;
  background: #E0E0E0;
}
@media (max-width: 660px) {
  .underline:after {
    margin: 17px 0 0 0;
  }
}

.header nav {
  margin: 26px 0 0;
}
.header .container {
  max-width: 1054px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__list li {
  line-height: 30px;
}
.header__list li a {
  position: relative;
}
.header__list li a:visited {
  color: #000;
}
.header__list li a:before {
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 0;
  color: #FF6464;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: easy-out;
          transition-timing-function: easy-out;
}
.header__list li a:hover:before {
  width: 70%;
}
.header__list li a:active:before {
  width: 100%;
}
.header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 0 33px;
  font-weight: 500;
  font-size: 20px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main {
  margin: 0 0 71px 0;
}
.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 153px 0 0;
}
@media (max-width: 780px) {
  .main__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0 0;
  }
}
.main__body {
  margin: 20px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #21243D;
}
@media (max-width: 780px) {
  .main__body {
    width: 100%;
    margin: 36px 0 0;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.main__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}
@media (max-width: 780px) {
  .main__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.main__text {
  max-width: 500px;
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 780px) {
  .main__text {
    margin: 0 auto 25px;
  }
}
.main__link {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  padding: 14px 21px 13px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background: #FF6464;
  -webkit-transition: 0.2s all 0s ease;
  transition: 0.2s all 0s ease;
}
.main__link:hover {
  top: -2px;
}
.main__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-shadow: -5px 13px 0 #EDF7FA;
          box-shadow: -5px 13px 0 #EDF7FA;
  border-radius: 50%;
}
@media (max-width: 780px) {
  .main__img {
    margin: 0 auto;
    -webkit-box-shadow: -3.5px 9px #EDF7FA;
            box-shadow: -3.5px 9px #EDF7FA;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 780px) {
  .main__img img {
    width: 171px;
    height: 171px;
  }
}

.recent-posts {
  color: #21243D;
  background: #EDF7FA;
}
.recent-posts__body {
  padding: 20px 0 31px;
}
@media (max-width: 910px) {
  .recent-posts__body {
    padding: 17px 0 27px;
  }
}
.recent-posts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6px 0 21px;
}
@media (max-width: 910px) {
  .recent-posts__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 6px 0 20px;
  }
}
.recent-posts__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 22px;
}
@media (max-width: 910px) {
  .recent-posts__title {
    font-size: 18px;
  }
}
.recent-posts__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  color: #00A8CC;
}
@media (max-width: 910px) {
  .recent-posts__link {
    display: none;
  }
}
.recent-posts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 910px) {
  .recent-posts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.recent-posts__cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 418px;
          flex: 0 1 418px;
}
@media (max-width: 910px) {
  .recent-posts__cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.post-cart {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  padding: 24px 25px 28px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: 0.5s all 0s ease;
  transition: 0.5s all 0s ease;
  -webkit-box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
}
.post-cart__title {
  margin: 0 0 27px 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
}
@media (max-width: 910px) {
  .post-cart__title {
    margin: 0 0 11px 0;
    font-size: 22px;
    line-height: 30px;
  }
}
.post-cart__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 910px) {
  .post-cart__data {
    margin: 0 0 15px 0;
    font-size: 16px;
  }
}
.post-cart__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.post-cart__data-break {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57px;
          flex: 0 1 57px;
  position: relative;
  top: 1px;
  left: 0;
}
.post-cart__data-break:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  width: 1px;
  height: 21px;
  background: #000;
}
.post-cart__category {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.post-cart__text {
  font-size: 16px;
  line-height: 24px;
}
.post-cart:hover {
  top: -5px;
  -webkit-box-shadow: 0 9px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0 9px 10px rgba(187, 225, 250, 0.25);
}
@media (max-width: 910px) {
  .post-cart {
    max-width: 418px;
    padding: 13px 19px 19px;
    margin: 0 0 17px 0;
  }
  .post-cart:last-child {
    margin: 0;
  }
}

.featured-works__body {
  margin: 34px 0 83px 0;
}
@media (max-width: 660px) {
  .featured-works__body {
    margin: 24px 0 30px 0;
  }
}
.featured-works__title {
  margin: 0 0 41px 0;
  font-size: 22px;
  color: #21243D;
}
@media (max-width: 660px) {
  .featured-works__title {
    margin: 0 0 22px 0;
    text-align: center;
    font-size: 18px;
  }
}
.featured-works__card {
  margin: 0 0 31px 0;
}
.featured-works__card:last-child {
  margin: 0;
}

.work-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 660px) {
  .work-card__row {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.work-card__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.work-card__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  left: 0;
  top: 0;
  width: 246px;
  height: 180px;
  overflow: hidden;
  -webkit-transition: 1s all 0s ease;
  transition: 1s all 0s ease;
}
.work-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-card__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 5px 0 0 18px;
  color: #21243D;
}
@media (max-width: 660px) {
  .work-card__body {
    max-width: 246px;
    margin: 20px 0 0 0;
  }
}
.work-card__title {
  margin: 0 0 23px 0;
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 660px) {
  .work-card__title {
    margin: 0 0 18px;
    font-size: 24px;
  }
}
.work-card__data {
  margin: 0 0 22px 0;
}
.work-card__year {
  margin: 0 22px 0 0;
}
.work-card__category {
  display: inline-block;
  font-size: 20px;
  color: #8695A4;
}
@media (max-width: 660px) {
  .work-card__category {
    font-size: 16px;
  }
}
.work-card__text {
  font-size: 16px;
  line-height: 24px;
}
.work-card__row:hover .work-card__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 660px) {
  .work-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 58px 0 51px;
}
.footer__body {
  text-align: center;
}
.footer__links {
  margin: 0 0 30px 0;
}
.footer__link {
  margin: 0 10px;
}
.footer__copyright {
  color: #21243D;
}