.year {
	display: inline-block;
	padding: 4px 10px 3px;
	border-radius: 16px;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background: $dark-blue;

	@media (max-width: 660px) {
		font-size: 16px;
	}
}

.underline {
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		margin: 25px 0 0 0;
		background: $light-gray;
		@media (max-width: 660px) {
			margin: 17px 0 0 0;
		}
	}
}