.featured-works {
	&__body {
		margin: 34px 0 83px 0;

		@media (max-width: 660px) {
			margin: 24px 0 30px 0;
		}
	}
	&__title {
		margin: 0 0 41px 0;
		font-size: 22px;
		color: $dark;
		@media (max-width: 660px) {
			margin: 0 0 22px 0;
			text-align: center;
			font-size: 18px;
		}
	}
	&__row {}
	&__card {
		margin: 0 0 31px 0;

		&:last-child {
			margin: 0;
		}
	}
}

.work-card {

	&__row {
		display: flex;
		position: relative;
		@media (max-width: 660px) {
			display: inline-flex;
			flex-direction: column;

		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}

	&__img {
		flex: 0 0 auto;
		position: relative;
		left: 0;
		top: 0;
		width: 246px;
		height: 180px;
		overflow: hidden;
		transition: 1s all 0s ease;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__body {
		flex: 0 1 auto;
		margin: 5px 0 0 18px;
		color: $dark;

		@media (max-width: 660px) {
			max-width: 246px;
			margin: 20px 0 0 0;
		}
	}
	&__title {
		margin: 0 0 23px 0;
		font-size: 30px;
		font-weight: 700;

		@media (max-width: 660px) {
			margin: 0 0 18px;
			font-size: 24px;
		}
	}
	&__data {
		margin: 0 0 22px 0;
	}
	&__year {
		margin: 0 22px 0 0;
	}
	&__category {
		display: inline-block;
		font-size: 20px;
		color: $light;

		@media (max-width: 660px) {
			font-size: 16px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
	}

	&__row:hover &__img {
		transform: scale(1.05);
	}

	@media (max-width: 660px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}