@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

$primary: #FF6464;
$secondry: #00A8CC;
$dark: #21243D;
$light: #8695A4;
$background: #EDF7FA;

$container-padding: 30px;

body {
	font-family: "Heebo";
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
	padding-bottom: 500px;
}

.container {
	max-width: 856px+2*$container-padding;
	padding: 0 $container-padding;
	margin: 0 auto;
}


@import "_header.scss";

.content {
}

@import "_main.scss";

@import "_recent-posts.scss";