@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

$primary: #FF6464;
$secondry: #00A8CC;
$dark: #21243D;
$dark-blue: #142850;
$light: #8695A4;
$light-gray: #E0E0E0;
$background: #EDF7FA;

$container-padding: 11px;

body {
	font-family: "Heebo";
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 856px+2*$container-padding;
	padding: 0 $container-padding;
	margin: 0 auto;
}

@import "_common.scss";

@import "_header.scss";

.content {
	flex: 1 0 auto;
}

@import "_main.scss";

@import "_recent-posts.scss";

@import "_featured-works.scss";

@import "_footer.scss";